@model IEnumerable<CharacterCreator.Models.Character>

<div id="CharacterTableContainer" class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.LabelFor(x => x.First().Name)
                </th>
                <th>
                    @Html.LabelFor(x => x.First().Gender)
                </th>
                <th>
                    @Html.LabelFor(x => x.First().Race)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr ondblclick="location.href = '@Url.Action(action: "Index", controller: "Home", values: new { id = @item.Id })'">
                    <td>
                        @Html.DisplayFor(x => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Race)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>